@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}

.content {
   display : flex;
   flex-direction : column;
   align-items : center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding : 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


.header,
.footer {
   display : flex;
   justify-content : space-between;
   padding : 8px;
}

.footer { background-color : #eeeeee; }

.left-links,
.right-links {
   padding : 0;
   margin : 0;
   display : flex;
   gap : 8px;
}

ul {
   list-style-type: none;
}
