body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0;
   min-height: 100vh;
   display : flex;
   flex-direction : column;
   justify-content : space-between;
}

.row2 {
   display : flex;
   flex-grow : 1;
}

.header {
   background: #1F2937;
   display : flex;
   justify-content : space-around;
}

.header .logo {
   font-weight : 900;
   font-size: 24px;
   color : #f9faf8;
   text-align : center;
   vertical-align : middle;
   height: 72px;
   line-height: 72px;
   flex-grow : 1;
}

.header .header-links {
   flex-grow : 1;
}

.header ul {
   padding : 0px;
   padding-right : 32px;
   display : flex;
   list-style-type: none;
   justify-content : space-evenly;
}


.a:link, a:visited, a:hover, a:active {
   font-size : 24px;
   color : white;
   text-decoration : none;
   padding : 32px;
}

li {
   margin : 10px 0px 10px 0px;
}

.row1 {
   background: #1F2937;
   display : flex;
   justify-content : center;
   align-items : center;
   padding : 48px 0px 48px 0px;
   gap : 32px;
}

.row1 .left-text {
   display : flex;
   flex-direction : column;
   align-items :  flex-start;
   width : 400px;
}

.row1 .left-text .awesome {
   padding-bottom : 12px;
   font-weight : extra-bold;
   color : #f9faf8;
   font-size : 48px;
}

.row1 .left-text .descr {
   color : #e5e7eb;
   font-size : 18px;
   padding-bottom : 12px;
}

.row1 .left-text button {
   color : white;
   background-color : #3882f6;
   padding : 4px 16px 4px 16px;
   border-radius : 5px;
}

.row2 {
   display : flex;
   flex-direction : column;
}

.row2 .content-label {
   text-align : center;
   padding-top : 36px;
   color : #1f2937;
   font-weight : extra-bold;
   font-size : 36px;
}

.content { 
   display : flex;
   padding : 32px;
   flex-wrap : wrap;
   justify-content : space-evenly;
   row-gap : 10px;
}

.card {
   display : flex;
   flex-direction : column;
   align-items : center;
}

.card img {
   border: 5px solid #3882f6;
   background-color : #3882f6;
   border-radius : 10px;
   width : 200px;
   padding : 0px;
}

.card .subtext {
   width : 200px;
   padding : 5px 0px 5px 0px;
   text-align : center;
}

.row3 {
   display : flex;
   padding : 64px;
   flex-direction : column;
   background : #e5e7eb;
   align-items : center;
}

.row3 .quote {
   width : 600px;
   flex-grow : 0;
   font-size : 36px;
   font-style : italic;
   font-weight : lighter;
   padding-bottom : 5px;
}

.row3 .auth {
   width : 600px;
   flex-grow : 0;
   font-weight : bold;
   text-align : right;
   padding-right : 40px;
}

.row4 {
   padding : 72px;
}

.row4 .inner {
   background-color : #3882f6;
   border-radius : 5px;
   padding : 32px;
   display : flex;
   justify-content : space-evenly;
}

.row4 .top {
   color : white;
   font-weight : extra-bold;
   font-size : 14px;
}
.row4 .bottom {
   color : white;
   font-size : 11px;
}

.row4 button {
   color : white;
   background-color : #3882f6;
   border-radius : 5px;
   border: 2px solid white;
   padding : 4px 16px 4px 16px;
}

.footer {
   height: 72px;
   line-height: 72px;
   background: #1F2937;
   color : #f9faf8;
   text-align : center;
   vertical-align : middle;
}
