
#etch {
   --rows: 16;
   --cols: 16;
   display: grid;
   grid-template-columns: repeat(var(--rows), calc(960px/var(--rows)));
   grid-template-rows: repeat(var(--cols), calc((960px/var(--cols))/2));
}

/*
#etch div:hover {
   background-color: yellow;
}
*/

button {
   --buttWidth: 16px;
   display: block;
   margin-left: calc( (960px/2) - var(--buttWidth) );
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 5px;
}
