.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para.small-para {
  font-size: 12px;
}

.para {
  font-size: 22px;
}

#confirm-button{
  background: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
} 

.button {
  background-color: #ffc0cb;
  color: black;
  font-size: 20px;
}

div.text {
  color: green;
  font-size: 28px;
}

.text.child {
  color: red;
  font-size: 14px;
}

