.click,
.no-click{
   font-family : "Times New Roman", serif;
   font-size : 62px;
}

.click{
   background-color : black;
   color : white;
}
.no-click{
   background-color : yellow;
   color : black;
}
