#calc{
   --rows: 6;
   --cols: 4;
   display: grid;
   grid-template-columns: repeat(var(--cols), calc(480px/var(--cols)));
   grid-template-rows: repeat(var(--rows), calc((480px/var(--rows))));
}


button {
   display: inline-block;
}


/*======================*/
#display {
   grid-row-start: 1;
   text-align: center;
   padding: 40px 0 37px 0;
   border: 3px solid black;
}

#slash, #star, #minus, #clear {
   grid-row-start: 2;
}

#seven, #eight, #nine {
   grid-row-start: 3;
}

#four, #five, #six {
   grid-row-start: 4;
}

#one, #two, #three {
   grid-row-start: 5;
}

#zero, #dot {
   grid-row-start: 6;
}

/*======================*/
#plus, #enter {
   grid-row-end: span 2;
}

/*======================*/
#seven, #four, #one, #clear {
   grid-column-start: 1;
}

#slash, #eight, #five, #two, #zero {
   grid-column-start: 2;
}

#star, #nine, #six, #three, #dot{
   grid-column-start: 3;
}

#minus, #plus, #enter {
   grid-column-start: 4;
}

/*======================*/
#display {
   grid-column-end: span 4;
}



