.header  {
  font-family: monospace;
  background: papayawhip;
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding : 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding-left : 0px;
  display : flex;
  margin : 0;
  padding : 0;
  gap : 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
