.odd{
   background-color : rgb( 255, 167, 167);
   font-family : "Verdana", sans-serif;
}

.big-odd{
   font-size : 24px;
}

#second{
   color : rgb( 0, 0, 255 );
   font-size : 36px;
}

#fourth{
   background-color : rgb( 128, 255, 128);
   font-size : 24px;
   font-weight : bold;
}
