body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}

.center {
   display : flex;
   flex-grow : 1;
}

.header {
  height: 72px;
  font-weight : 900;
  font-size: 32px;
  background: darkmagenta;
  color: white;
  text-align : left;
  vertical-align : middle;
  line-height : 72px;
  padding-left : 16px;
}

.footer {
  height: 72px;
  line-height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align : center;
  vertical-align : middle;
}

.sidebar {
  width: 300px;
  padding : 16px;
  background: royalblue;
  flex-shrink : 0;
}

.sidebar li a {
   font-size : 24px;
   color : white;
   text-decoration : none;
}

li {
   margin : 10px 0px 10px 0px;
}

.content { 
   display : flex;
   padding : 32px;
   flex-wrap : wrap;
   align-content : space-evenly;
   justify-content : space-evenly;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width : 200px;
  padding : 32px;
}

.sidebar ul {
   list-style-type: none;
   padding : 0px;
}
